In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import datasets
%matplotlib inline
# https://jeffmacaluso.github.io/post/LinearRegressionAssumptions/

In [26]:
boston = datasets.load_boston()

In [27]:
linear_X, linear_y = datasets.make_regression(n_samples=boston.data.shape[0],
                                              n_features=boston.data.shape[1],
                                              noise=75, random_state=46)

In [28]:
linear_feature_names = ["X"+str(feature+1) for feature in range(linear_X.shape[1])]

In [29]:
df = pd.DataFrame(boston.data, columns=boston.feature_names)
df['HousingPrice'] = boston.target

df.head()

      CRIM    ZN  INDUS  CHAS  ...  PTRATIO       B  LSTAT  HousingPrice
0  0.00632  18.0   2.31   0.0  ...     15.3  396.90   4.98          24.0
1  0.02731   0.0   7.07   0.0  ...     17.8  396.90   9.14          21.6
2  0.02729   0.0   7.07   0.0  ...     17.8  392.83   4.03          34.7
3  0.03237   0.0   2.18   0.0  ...     18.7  394.63   2.94          33.4
4  0.06905   0.0   2.18   0.0  ...     18.7  396.90   5.33          36.2

[5 rows x 14 columns]

In [30]:
from sklearn.linear_model import LinearRegression

In [31]:
boston_model = LinearRegression()
boston_model.fit(boston.data, boston.target)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [32]:
boston_r2 = boston_model.score(boston.data, boston.target)
print('R^2: {0}'.format(boston_r2))

R^2: 0.7406426641094095

In [33]:
def calculate_residuals(model, features, labels):
  predictions = model.predict(features)
  df_results = pd.DataFrame({'Actual' : label,
                             'Predicted' : predictions})
  df_results['Residuals'] = abs(df_results['Actual'] -df_results['Predicted'] )
  return df_results

In [34]:
#  ASSUMPTIONS

In [40]:
def linear_assumption(model, features, label):
    
    """
    Linearity: Assumes that there is a linear relationship between the predictors and
               the response variable. If not, either a quadratic term or another
               algorithm should be used.
    """
    print('Assumption 1: Linear Relationship between the Target and the Feature', '\n')
    print('Checking with a scatter plot of actual vs. predicted.',
    #cal residuals for plot
    df_results = calculate_residuals(model, features, label)
    sns.lmplot(x='Actual', y='Predicted', data=df_results, fit_reg=False, size=7)
    
    line_coords = np.arange(df_results.min().min(), df_results.max().max())
    plt.plot(line_coords, line_coords,
             color='darkorange', linestyle='--'
             )
    plt.title('actual vs. Predicted')
    plt.show()

SyntaxError: ignored

In [ ]:
linear_assumption(linear_model, linear_X, linear_y)